body, html
{
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    height: 100%;
    margin: 0px;
    min-height: 100%;
}

div
{
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    min-width: 320px;
    width: 90%;
}

#first_person
{
    background-color: rgb(200, 200, 200);
    margin-bottom: 5%;
    margin-top: 2.5%;
}

#third_person
{
    background-color: rgb(100, 100, 100);
    margin-bottom: 2.5%;
    margin-top: 5%;
}
